<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DocksManagementSystem.Properties.Settings.DocksConnectionString"
            connectionString="Data Source=DESKTOP-396O81C\SQLSERVER;Initial Catalog=Docks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>